*{
    margin: 0;
}

header .logo{
    height: 5vh;
    border: 1px solid blue;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
    height: 5vh;
}

header nav a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}