*{
    margin: 0;
}
header{
    width: 100vw;
    height: 10vh;
    position: fixed;
}

header .logo{
    /* position: fixed; */
    height: 5vh;
    outline: 1px solid blue;
    display: flex;
    align-items: center;
}

header nav{
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    outline: 1px solid red;
    height: 5vh;
}

header nav a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

main .home{
    width: 100%;
    height: 90vh;
    outline: 1px solid teal;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

main .home .card{
    width: 25vw;
    height: 30vh;
    outline: 1px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Noticias */
main .noticiasPrincipales{
    outline: 1px solid black;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

main .noticiasPrincipales .main{
    outline: 1px solid teal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .noticiasPrincipales .otrasNoticias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

main .noticiasPrincipales .otrasNoticias .noticia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* info */

.info{
    outline: 2px solid red;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info .tabla{
    outline: 1px solid orange;
    height: 70%;
    width: 40%;
}

.mapaForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
    outline: 1px solid blue;
    height: 100%;
    width: 100%;
}

.info .mapa{
    height: 200px;
    width: 100%;
    outline: 1px solid rgb(197, 20, 43);
}

.mapaForm .formulario{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: 3px solid yellow;
    overflow-y: scroll;
    text-align: center;
}

.formulario form{
    width: 400px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.formulario form input ,textarea{
   margin: 5px 10px;
   padding: 15px;
   border-radius: 10px;
}

.formulario form button{
    margin: 5px 10px;
   padding: 15px;
   border-radius: 10px;
}