@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    margin-top: -10vh;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: black;
    color: white;
}

header .logo{
    height: 5vh;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

header nav a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

main .home{
    margin-top: 10vh;
    background-image: url(../storage/img/portada.png);
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

main .home .card{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 15px;
    filter: drop-shadow(2px 2px 1px rgba(163, 162, 162, 0.5));
}

.home .card h2{
    font-size: 30px;
}

.home .card p{
    font-size: 23px;
    text-align: center;
}

.home .card button{
    background-color: red;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.home .card button:hover{
    background-color: rgb(204, 15, 15);
    outline: 1px solid white;
}

/* Noticias */
main .noticiasPrincipales{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f1f1;
}

main .noticiasPrincipales .main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 85vh;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px 2%;
    border: 1px solid rgb(212, 209, 209);
}

.noticiasPrincipales .main h2{
    padding: 0 20px;
}

.noticiasPrincipales .main p{
    padding: 0 20px;
    font-size: 18px;
}

.imagenes{
    object-fit: cover;
    width: 100%;
    height: 60%;
}

main .noticiasPrincipales .otrasNoticias{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

/* .summaryNews{
    
} */

main .noticiasPrincipales .otrasNoticias .noticia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 40px;
    border: 1px solid rgb(212, 209, 209);
    padding: 5px 10px;
    border-radius: 20px;
    gap: 20px;
    background-color: #fff;
}

.img-noticia{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.scroll{
    overflow-y: scroll;
    height: 85%;
}

/* info */

.info{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablaRedes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #f5f1f1;
    padding: 10px;
    box-sizing: border-box;
}

.info .tabla{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 368px;
    padding-top: 50px;
    background-color: white;
    border-radius: 10px;
}

.info .tabla table th, td{
    padding: 10px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: rgb(186, 187, 186) 1px solid;
}

.escudo{
    width: 20px;
    height: 20px;
    padding-top: 2px;
}

.redes{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.redes i{
    color: red;
    font-size: 30px;
}

.redes i:hover{
    color: black;
    cursor: pointer;
}

.mapaForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f5f1f1;
}

.info .mapa{
    margin-top: 15px;
    margin-right: 20px;
    height: 200px;
    padding: 10px;
    width: 508px;
    background-color: #fff;
    border-radius: 10px;
}

.mapaForm .formulario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    text-align: center;
}

.formulario form{
    padding: 10px;
    width: 500px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.formulario form input ,textarea{
   margin: 5px 10px;
   padding: 15px;
   border-radius: 10px;
   border-style: none;
   border: 1px solid gray;
}

.formulario form button{
    background-color: red;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin: 5px 10px;
    padding: 13px;
    border-radius: 10px;
}

/* Patrocinadores */

.patrocinadores{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid cornflowerblue;
    gap: 20px;
    background-color: #f5f1f1;
}

.logos{
    width: 200px;
    height: 16vh;
    object-fit: contain;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.logos:hover{
    transform: scale(1.1);
}

/* categorias */

.categorias{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.categoria{
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    outline: 1px solid red;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}